@import '../color';

div#cv {
    max-width: calc(100vw);
    min-height: calc(100vh);
    background-color: $white;
    nav {
        padding: 10px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 1.5em;
            font-weight: bolder;
            color: $third;
        }
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            margin: 20px;
            border: 1px solid $black;
        }
        h1 {
            padding: 10px 0;
            font-weight: bold;
            color: $main;
        }
        h2 {
            color: $main;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid $main;
            border-right: 1px solid $main;
            li {
                padding: 0 10px;
                color: $second;
                border-left: 1px solid $main;
                border-right: 1px solid $main;
                a {
                    text-decoration: underline;
                    color: $second;
                }
            }
        }
    }
    section {
        margin: 20px;
        // border: 1px solid $black;
        h3 {
            padding: 10px;
            color: $main;
        }
        p {
            padding: 0 20px;
            color: $black;
            strong {
                font-weight: lighter;
                color: $second;
            }
        }
        & > ul {
            list-style-type: none;
            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                svg {
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                    fill: $main;
                }
                p {
                    margin: 0;
                    padding: 0;
                    color: $black;
                    font-size: 1.2em;
                }
            }
        }
        article {
            margin: 10px;
            // border: 1px solid red;
            h4 {
                color: $main;
                font-weight: bold;
            }
            a {
                text-decoration: none;
                h4 {
                    text-decoration: underline;
                    color: $main;
                    transition: 0.5s all ease;
                    &:hover {
                        color: $second;
                    }
                }
            }
            h5 {
                color: $main;
            }
            p {
                margin: 0;
            }
            ul {
                margin: 10px 0;
            }
        }
    }
}
