@import "../../color";

div.bubble {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 50% 20% 30% 70% / 40% 60% 20% 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    figure {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $second;
        border-radius: 70% 30% 50% 20% / 60% 40% 30% 70%;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
        img {
            width: 200px;
            height: 200px;
            background-color: $main;
            border-radius: 60% 40% 20% 80% / 30% 70% 50% 40%;
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
        }
    }
}