@import "../color";

aside#notes {
    overflow-y: hidden;
    background-color: $main;
    transition: 0.5s all ease;
    &.hide {
        height: 0px;
        border-radius: 0;
    }
    &.show {
        height: 50px;
        border-radius: 0 0 12.5px 12.5px;
    }
    ul {
        height: 50px;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            padding: 5px 10px;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
            margin: 10px;
            g {
                circle {
                    stroke: $main;
                }
                ellipse {
                    fill: $main;
                }
            }
        }
        h2 {
            color: $main;
        }
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            color: $main;
        }
        div.button {
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            div.corner {
                width: 25px;
                height: 25px;
                background-color: $main;
                span {
                    width: 25px;
                    height: 25px;
                    background-color: #FFF;
                    color: #FFF;
                }
                &.left span {
                    border-radius: 0 50% 0 0;
                }
                &.right span {
                    border-radius: 50% 0 0 0;
                }
            }
            button {
                height: 50px;
                padding: 0 10px;
                border: none;
                border-radius: 0 0 12.5px 12.5px;
                background-color: $main;
                color: $white;
                &::before {
                    content: "Notas de clase";
                }
                svg {
                    width: 30px;
                    height: 30px;
                    color: $white;
                    display: none;
                }
            }
        }
    }
}

footer {
    padding: 20px 0;
    background-color: $main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 0 0;
    p {
        color: $white;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            margin: 5px 10px;
            a {
                text-decoration: none;
                svg {
                    width: 30px;
                    height: 30px;
                    fill: $white;
                    transition: 0.5s all ease;
                    &:hover {
                        fill: $second;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header nav {
        a {
            display: none;
        }
        div.button button {
            &::before {
                content: "";
            }
            svg {
                display: inline;
            }
        }
    }
}
