@import "../color";

@mixin themeHeader($color) {
    span {
        svg g {
            circle {
                stroke: $color;
            }
            ellipse {
                fill: $color;
            }
        }
        p {
            color: $color;
        }
    }
    ul {
        li:hover {
            border-color: $color;
            a {
                color: $color;
            }
        }
    }
}

@mixin themeFooter($color) {
    ul li a svg:hover {
        color: $color;
    }
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
            margin: 10px;
            g {
                circle {
                    transition: 0.5s all ease;
                }
                ellipse {
                    transition: 0.5s all ease;
                }
            }
        }
        p {
            font-weight: bolder;
            font-size: 1.2em;
            color: $main;
            transition: 0.5s all ease;
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            margin: 5px;
            padding: 5px;
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;
            transition: 0.2s all ease;
            a {
                text-decoration: none;
                color: $white;
                transition: 0.2s all ease;
            }
        }
    }
    &.environmental {
        @include themeHeader($leaf);
    }
    &.data {
        @include themeHeader($data);
    }
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

footer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    ul {
        list-style-type: none;
        height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        li {
            padding: 10px;
            a svg {
                width: 30px;
                height: 30px;
                color: $grey;
                transition: 0.5s all ease;
            }
        }
    }
    &.environmental {
        @include themeFooter($leaf);
    }
    &.data {
        @include themeFooter($data);
    }
}
