@import "../color";

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span#arrow {
        padding: 10px;
        display: none;
        svg {
            width: 30px;
            height: 30px;
            fill: $main;
            transition: 0.5s all ease;
        }
        &.right svg {
            transform: rotate(0deg);
        }
        &.left svg {
            transform: rotate(-180deg);
        }
    }
    span#logo {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
            g {
                circle {
                    stroke: $main;
                }
                ellipse {
                    fill: $main;
                }
            }
        }
        h2 {
            padding: 0 10px;
            color: $main;
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 10px;
            a {
                text-decoration: none;
                color: $white;
                transition: 0.5s all ease;
                &:hover {
                    color: $main;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: space-between;
        span#arrow {
            display: block;
        }
        ul {
            display: none;
        }
    }
}

footer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    ul {
        height: calc(100vh - 50px);
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        li {
            padding: 10px;
            a {
                text-decoration: none;
                svg {
                    width: 30px;
                    height: 30px;
                    color: $white;
                    transition: 0.5s all ease;
                    &:hover {
                        color: $main;
                    }
                }
            }
        }
    }
}
