@import "../color";

@mixin theme($color) {
    figure {
        border-color: $color;
    }
    span {
        h1 {
            color: $color;
        }
        h2 strong {
            color: $color;
        }
        h3 strong {
            color: $color;
        }
    }
}

main#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    figure {
        width: calc((100vh - 50px) / 2);
        height: calc((100vh - 50px) / 2);
        padding: 10px;
        border-radius: 50%;
        border: 5px solid $main;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s all ease;
        img {
            width: calc(100%);
            height: calc(100%);
        }
    }
    span {
        width: calc((100vw - 50px) / 2);
        h1 {
            font-size: 2em;
            text-align: center;
            text-transform: capitalize;
            color: $main;
            transition: 0.5s all ease;
        }
        h2 {
            font-size: 2em;
            font-weight: 400;
            text-align: center;
            color: $white;
            strong {
                transition: 0.5s all ease;
            }
        }
        h3 {
            font-size: 1.5em;
            text-align: center;
            color: $white;
            strong {
                font-weight: 400;
            }
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 10px;
                svg {
                    width: 40px;
                    height: 40px;
                    color: $white;
                    cursor: pointer;
                }
                &:nth-child(1) svg {
                    color: $leaf;
                }
                &:nth-child(2) svg {
                    color: $data;
                }
            }
        }
    }
    &.environmental {
        @include theme($leaf);
    }
    &.data {
        @include theme($data);
    }
}