@import "../color";

main#home {
    min-height: calc(100vh - 50px - 120px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    article {
        max-width: 375px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            text-align: center;
            color: $main;
            strong {
                color: $second;
            }
        }
    }
}
