@import "../color";

main#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    figure {
        width: calc(100vw - 90px);
        max-width: 300px;
        height: calc(100vw - 90px);
        max-height: 300px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid $main;
        border-radius: 50%;
        img {
            width: calc(100%);
            height: calc(100%);
        }
    }
    div.hello {
        text-align: center;
        h1 {
            color: $main;
        }
        h2 {
            color: $white;
            strong {
                color: $main;
            }
        }
        h3 {
            color: $white;
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 10px;
                svg {
                    width: 40px;
                    height: 40px;
                }
                &:nth-child(1) svg {
                    color: #0ea737;
                }
                &:nth-child(2) svg {
                    color: #1E96D0;
                }
                &:nth-child(3) svg {
                    color: #FBBC05;
                }
            }
        }
    }
}
